.navigator-container {
  background: #fff;
  display: grid;
  grid-template-columns: 1fr;
  /**
   * Template rows represent the player info, controls, pgn explorer, and other player info.
   */
  grid-template-rows: 30px 30px 20em 30px;
  width: 320px;
}

.player-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid black;
  padding: 5px;
}

.player-info-rating {
  font-weight: bold;
} 

.controls-container {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 5px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid #aaa;
}

.control-btn:hover {
  background: #f2f2f2;
}

.pgn-explorer {
  border-left: 1px solid black;
  border-right: 1px solid black;
  max-width: 320px;
  font-weight: 400;

  display: grid;
  grid-auto-rows: 2em;
  grid-template-columns: 25px 1fr 1fr;
  max-height: 20em;
  overflow-y: auto;
}

.move-number {
  background: #aaa;
  border-right: 1px solid #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #aaa;
}

.left {
  border-right: 1px solid #aaa;
}

.move:hover {
  color: blue;
  background: #f2f2f2;
  opacity: 0.8;
}

.move:active {
  color: red;
}
