.navigator-container {
  background: #fff;
  display: grid;
  grid-template-columns: 1fr;
  /**
   * Template rows represent the player info, controls, pgn explorer, and other player info.
   */
  grid-template-rows: 30px 30px 1fr 30px;
  width: 320px;
}

.player-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid black;
  padding: 5px;
}

.player-info-rating {
  font-weight: bold;
} 

.controls-container {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 5px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid #aaa;
}

.button-reset {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  font-size: 1em;
  border-spacing: 0;
  color: inherit;
  cursor: pointer;
  line-height: 1.42rem;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
}

.disabled {
  pointer-events: none;
}

.control-btn:hover {
  background: #f2f2f2;
}

.pgn-explorer {
  border-left: 1px solid black;
  border-right: 1px solid black;
  max-width: 320px;
  font-weight: 400;

  display: grid;
  grid-auto-rows: 2em;
  grid-template-columns: 25px 1fr 1fr;
  overflow-y: auto;
}

.move-number {
  background: #aaa;
  border-right: 1px solid #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #aaa;
}

.left {
  border-right: 1px solid #aaa;
}

.move {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #aaa;
}

.move:hover {
  color: blue;
  background: #f2f2f2;
  opacity: 0.8;
}

.move:active {
  color: red;
}

.current-move {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  color: green;
  border-bottom: 1px solid #aaa;
}
