.tab-container {
  background: white;
  grid-area: tabs;
  display: grid;
  grid-template-rows: 3em 1fr;
}

.tab-button-container {
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
}

.tab {
  display: flex;
  padding: 10px;
}
